{% extends 'index.html' %}

{% block content %}
    <h1>Чек номер {{ cheque.number }}</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Наименование</th>
              <th scope="col">Количество</th>
              <th scope="col">Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
                <td colspan="3">Итого:</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/cheque_detail/<str:number>/',
                method: 'GET',
                success: function(d) {
                    console.log(d);
                    //var filledtable = '{% for entry in cheque.entries.all %}<tr><th scope="row">{{ forloop.counter }}</th><td>{{ entry.product.name }}</td><td>{{ entry.quantity }}</td><td>{{ entry.price }}</td></tr>{% endfor %}<tr><td colspan="3">Итого:</td><td>{{ cheque.summ }}</td></tr>';
                    var testdata = '<tr><td colspan="4">Тест</td></tr>';
                    $('tbody').html('testdata');
                },
                error: function(d) {
                    console.log(d);
                }
            });
        });
    </script>
{% endblock content %}
